/*Body*/
body {
font-size: 120%;
}
h1 {
  color: black;
  margin-top: 3%;
  margin-bottom: 3%;
}
#deletetext {
  margin-top: 10%;
}

/*Card*/
.card {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#kategoricard {
  float: right;
}
#tidspunktcard {
  float: left;
}
#formEdit {
  margin-top: 5%;
}

/*Buttons*/
.btn {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#slettbtn {
    float: right;
    margin-bottom: 5%;
}
#endrebtn {
  margin-bottom: 5%;
}
#lagrebtn {
  margin-bottom: 2%;
  margin-top: 2%;
  float: right;
}
#jabtn {
  margin: 15%;
  width: 50%;
}
#neibtn {
  margin: 15%;
  float: right;
  width: 50%;
}

/*Bilder*/
img {
  -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
  filter: grayscale(50%);
}

/*Meny*/
nav {
  background-color: #0404B4;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.flexbox {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

/*Livefeed*/
.livefeed{ padding-right: 200px}

#livefeed {
  margin-top: 4%;
  margin-bottom: 4%;
  background-color: #EFEFFB;
}
#livefeedlink {
  color: black;
  width: auto;
}

.MarqueeContent {
  display: flex;
  flex-direction: row;
}

.MarqueeContent > * {
  flex: 0 0 auto;
}
